
StarTrekApi/bin
StarTrekApi/obj
StarTrekApi.Tests/bin
StarTrekApi.Tests/obj
StarTrekClientUW/bin
StarTrekClientUW/obj
StarTrekClientWpf/bin
StarTrekClientWpf/obj
StarTrekClientWpf.Tests/bin
StarTrekClientWpf.Tests/obj
StarTrekDb/bin
StarTrekDb/Import Schema Logs
StarTrekDb/obj
StarTrekDomain/bin
StarTrekDomain/obj
StarTrekServer/bin
StarTrekServer/obj
StarTrekTest/bin
StarTrekTest/obj
StarTrekServerCore/bin
StarTrekServerCore/obj
StarTrekServerCore.Tests/bin
StarTrekServerCore.Tests/obj
/.vs

